<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title=${addApplications})"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<ul><span th:text="#{applications}"></span>
    <li th:each="app:${applications}"
        th:object="${app}">
        <form th:action="@{/profile/addApplications/add}" method='post'>
            <input type='submit' th:value="*{applicationName}">
            <input type="hidden" th:name="applicationId" th:value="*{applicationId}">
            <input type="hidden" th:name="id" th:value="${user.id}">
        </form>
    </li>
</ul>
<form th:action="@{/profile/addSkills}" method='get'>
    <input type='submit' th:value="#{addSkills}">
    <input type="hidden" th:name="id" th:value="*{id}">
</form>
</body>
</html>