<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title=${app.applicationName})"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1 th:text="${app.applicationName}"></h1>
<h3 th:text="|#{users} #{workingOn}|"></h3>
<ul th:class="application">
    <li th:each="user:${users}" th:object="${user}">
        <a th:href="@{/profile/{id}(id=*{id})}"
           th:text="*{username}"></a>
    </li>
    <li>
        <a th:href="@{/applications/newApplication}">
            <h3 th:text="#{makeNewApp}"></h3>
        </a>
    </li>
</ul>
</body>
</html>