<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title=#{createProject})"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<div th:class="container" th:object="${repositoryForm}">
    <h3 th:text="${projectName}"></h3>
    <form method="post" th:action="@{/projects/create/repo}">
        <label>
            <span th:text="'repo url'"></span>
            <span th:errors="*{url}"></span>
            <input th:field="*{url}" th:class="userProject"
                   type="text" autofocus required>
        </label>
        <label>
            <span th:text="'repo name'"></span>
            <span th:errors="*{repositoryName}"></span>
            <input th:field="*{repositoryName}" th:class="userProject"
                   type="text" autofocus required>
            <input type="hidden" th:value="${projectName}" th:name="projectName">
        </label>
        <input th:class="userProject" type="submit" th:value="#{createProject}">
    </form>
</div>
</body>
</html>