<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title=#{createApplication})"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>CREATE</h1>
<div th:class="container" th:object="${repositoryForm}">
    <form method="post" th:action="@{/applications/create/repo}">
        <label>
            <span th:text="'repo url'"></span>
            <span th:errors="*{url}"></span>
            <input th:field="*{url}" th:class="userApplication"
                   type="text" th:value="${url}" autofocus required>
        </label>
        <label>
            <span th:text="'repo name'"></span>
            <span th:errors="*{repositoryName}"></span>
            <input th:field="*{repositoryName}" th:class="userApplication"
                   type="text" autofocus required>
        </label>
        <input th:class="userApplication" type="submit" th:value="#{createApplication}">
        <input type="hidden" th:value="${appName}" th:name="appName">
    </form>
</div>
</body>
</html>