<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <link rel="icon" th:href="@{/images/kova.png}" type="image/x-icon">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/kovand.css}">
</head>
<body>
<nav th:fragment="menu">
    <ul>
        <li><a th:href="@{/}">&#8962;</a></li>
        <li><a th:href="@{/about}" th:text="#{about}"></a></li>
        <li><a th:href="@{/projects}" th:text="#{projects}"></a></li>
        <li><a th:href="@{/users}" th:text="#{users}"></a></li>
        <li><a th:href="@{/skills}" th:text="#{skills}"></a></li>
        <li><a th:href="@{/contact}" th:text="#{contact}"></a></li>
        <li><a href="#" th:text="#{languages}"></a>
            <ul>
                <li><a th:href='@{?locale=nl_BE}'>Nederlands</a></li>
                <li><a th:href='@{?locale=fr_BE}'>Français</a></li>
                <li><a th:href='@{?locale=hu}'>Magyar</a></li>
                <li><a th:href='@{?locale=en}'>English</a></li>
            </ul>
        </li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/login}" th:text="#{login}"></a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <span sec:authentication="name"></span>
            <form id="logoutform" method="post" th:action="@{/logout}">
                <input type="submit" th:value="#{logout}" id="logoutbutton">
            </form>
        </li>
    </ul>
</nav>
</body>
</html>