<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title=#{addApplication})"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<div th:class="container">
    <ul th:class="competenties">
        <li>
            <h3 th:text="#{skills}"></h3>
        </li>
        <li th:each="skill:${skills}" th:object="${skill}">
            <img th:class="logoContaier"
                 th:src="@{/images/logo/{skillName}.png(skillName=*{skillName})}"
                 th:alt="*{skillName}">
            <form method="get" th:action="@{/applications/newApplicationSkills}">
                   <input th:class="userApplication" type="submit" th:value="#{add}">
            <input type="hidden" th:value="*{skillId}" th:name="id">
            </form>
        </li>
    </ul>
</div>
<div th:class="container">
    <ul th:class="competenties">
        <li>
            <h3 th:text="#{appSkills}"></h3>
        </li>
        <li th:each="skill:${skillsInUse}" th:object="${skill}">
            <img th:class="logoContaier"
                 th:src="@{/images/logo/{skillName}.png(skillName=*{skillName})}"
                 th:alt="*{skillName}">
            <form method="get" th:action="@{/applications/newApplicationSkills/remove}">
                <input th:class="userApplication" type="submit" th:value="#{remove}">
                <input type="hidden" th:value="*{skillId}" th:name="id">
            </form>
        </li>
    </ul>
</div>
<div>
    <form method="post" th:action="@{/applications/create}">
        <label th:text="'repo url'"></label>
        <input th:class="userApplication" type="text" th:name="repoUrl">
        <label th:text="'appName'"></label>
        <input th:class="userApplication" type="text" th:name="appName">
        <input th:class="userApplication" type="submit" th:value="#{createApplication}">
        <input type="hidden" th:value="*{skillId}" th:name="id">
    </form>
</div>
</body>
</html>